.nested-fields.nestd-item.w-100
  .form-group
    .field.d-inline
    
      .form-group.row
        .col-sm-12
          -#
            = f.text_area :html, :class => "form-control", :rows => "20"
          = f.cktext_area :html, class: 'someclass'
        
    = link_to_remove_association "X", f, :class => "nestd-notify-badge"
