- provide(:title, t('.title'))

= form_for [@project, @project_table], :url => { :controller => 'project_tables', :action => 'update_content'}, :html => {:class => "content-table-template"}, :builder => WebsiteFormBuilder do |f|
  = f.cktext_area :content, :id => "content-table-template"
  .contacts
    %ul#contactList
      %li
        .contact.h-card{"data-contact" => "0", :draggable => "true", :tabindex => "0"}
          单位公章
      %li
        .contact.h-card{"data-contact" => "1", :draggable => "true", :tabindex => "0"}
          全国注册建造师公章
      %li
        .contact.h-card{"data-contact" => "2", :draggable => "true", :tabindex => "0"}
          全国注册监理工程师公章
      %li
        .contact.h-card{"data-contact" => "3", :draggable => "true", :tabindex => "0"}
          专业注册监理工程师公章
      %li
        .contact.h-card{"data-contact" => "4", :draggable => "true", :tabindex => "0"}
          签名
